* { 
    box-sizing: border-box;
     margin:  0; 
     padding: 0;
} 

}
.nav { 
    display: flex; 
    align-items: center; 
    width: 100%; 
    margin: 25px;
    flex-direction: row;
} 

.nav ul { 
    display: flex;  
    list-style: none;
}

.nav ul li a { 
    display: flex;  
    flex-direction: row;
    text-decoration: none;
    margin: 30px 50px;
    font-weight: bold;
    font-size: 20px;
}


#GetinTouch {
    display: flex;
    padding: 20px;
    color:  #fffcff;; 
    font-weight: bold;
    font-size: 15pt;
    background-color: #9c27b0;
    border: none;
    box-shadow: 3px 3px 5px 0 #1f0823;

} 


#image {
    width:  600px;
    clip-path: circle();
    align-items: right;
    margin: 20px;
} 


.content { 
   margin: 100px; 
   display: flex;
   align-items: center; 
 }

  footer {
    display: flex;
    justify-content: center;
  }
 
.preloader {
  position: fixed;
  width:  100%;
  height: 100vh;
  z-index: 100000;
  background-color: white;
  top:  0;
  display:  flex;
  align-items: center;
  justify-content: center;
}

.preloader img {
  animation: spin 3s ease;
  width:  120px;
}

#insta {
    margin: 0px 20px 100px 35px;
    position: relative: left;
}

#linkedin {
    margin: 0px 100px 150px 100px;

}

.navworks { 
    float: right;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin: 70;
 }

.ProjectOverview { 
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
 }

 .container {
    display: flex;
    justify-content: space-evenly;

 }

 .projleft {
    margin: 10px;
 }

 .projright img {
    margin: 20px;
    height: 400px;
    width: 500px;

 }


@media only screen and (max-width = 768px) {
    
}

p {
    margin: 5px;
}

.logo {

}

html {
  scroll-behavior: smooth;
}



















